html{
  -webkit-font-smoothing: antialiased;  
  font-family: Helvetica Neue, Open Sans, sans-serif;
}

  html, body {
                height: 100%;
                padding: 0px;
                margin: 0px;
            }
            
 *, *:before, *:after {
	 -moz-box-sizing: border-box;
	 -webkit-box-sizing: border-box;
	 box-sizing: border-box;
}
 
.container {
	height: 100%;
	margin: 0px;
}

.flexcolumn {
    width: inherit;
    height: inherit;
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.flexcolumn > div {
 	display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
     -webkit-flex: 1 1 auto;
 	min-height: 40px;  
 	height: inherit;
}

.flexrow {
   
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
     -webkit-flex: 1 1 auto;
    -webkit-flex-direction: row;
    flex-direction: row;
    
 
}

.flexrow > div {
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
     -webkit-flex: 1 1 auto;
    height: inherit; 
}


.centered{
  text-align: center;
  margin:auto;
  width: 100%;
}
